<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>Tasks</h1>

    {% if tasks is not empty %}
        <p>Here are all your tasks:</p>
        <ul>
            {% for task in tasks %}
                <li><a href="/tasks/{{ task.getId }}">{{ task.getDescription }}</a> {{task.getStatus}}
                    <form id="task_complete" name = "task_complete" action="/tasks/{{ task.getId }}" method="post">
                    <input id='status' name='status' type='checkbox'>
                    <button type='submit'>click here after checking</button>

                </form></li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/tasks' method='post'>
        <label for='description'>Task description:</label>
        <input id='description' name='description' type='text'>
        <button type='submit'>Add task</button>
    </form>

    <form action='/delete_tasks' method='post'>
        <input name='_method' type='hidden' value='delete'>
        <button type='submit'>Clear</button>
    </form>

    <p><a href='/'>Home</a></p>

</body>
</html>
